.dev-projects {
    text-align: center;
}

#projectsPage {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    text-align: left;
    margin: 10px 35px;
    border: 2px solid #303c6c;
    background-color: #f4976c;
    border-radius: 5px;
    box-shadow: 0 15px 30px 1px lightgrey;
    overflow: hidden;
    width: 45%;
  }

.project-card p {
    width: 90%
}
  
  .project-image {
    background-size: cover;
    height: 400px;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
  }
  
  .project-details {
    width: 100%;
    margin: auto 5% auto 5%;
  }
  
  .project-details-title {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
  }