@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './components/bio';
@import './components/header';
@import './components/projectcards';

body {
  background-color: #fbe8a6;
  font-family: 'Special Elite', cursive;
  padding: 10px;
}

